/*-- font-family: 'Dosis', sans-serif;
font-family: 'Open Sans', sans-serif; --*/

:root {
	--normalBlue: rgb(53, 53, 241);
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	margin: auto;
}

.SITE_CONTAINER {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/*-------- Navigation --------*/

.navbar-brand {
	font-family: 'Dosis', sans-serif;
	font-size: 40px;
	font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
	display: inline-block;
	text-decoration: none;
	position: relative;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding: 15px;
}

.navbar-light .navbar-nav .nav-link:after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: var(--normalBlue) !important;
	width: 0;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
		all;
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: var(--normalBlue) !important;
}

.navbar-light .navbar-nav .nav-link:hover:after {
	width: 100%;
}

.nav {
	padding: 20px 0px 20px 0px;
}

/*-------- Profile Picture --------*/

.profile_picture {
	max-width: 280px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

/*-------- About Me --------*/

.text_container {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	max-width: 480px;
	padding-top: 60px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 80px;
}

.text_container p {
	color: rgba(0, 0, 0, .5);
}

.text_container h3 {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	font-family: 'Dosis', sans-serif;
	margin-bottom: 40px;
}

.text_container ul {
	list-style-type: none;
	text-align: center;
	padding-right: 40px;
}

.text_container li {
	margin-top: 8px;
}

#more_info {
	margin-top: 60px;
}

#resume_paragraph {
	text-align: center;
}

.text_container a {
	display: inline-block;
	text-decoration: none;
	position: relative;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.text_container a:after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: var(--normalBlue) !important;
	width: 0;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
		all;
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.text_container a:hover {
	color: var(--normalBlue) !important;
}

.text_container a:hover:after {
	width: 100%;
}

/*-------- Footer --------*/

footer {
	font-family: 'Open Sans', sans-serif;
	margin-top: 80px;
	margin-bottom: 50px;
	text-align: center;
	font-weight: bold;
}

.footer a {
	color: rgba(0, 0, 0, .5);
	display: inline-block;
	text-decoration: none;
	position: relative;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding: 10px 0px 10px 0px;
}

.footer a:after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: var(--normalBlue) !important;
	width: 0;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
		all;
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.footer a:hover {
	color: var(--normalBlue) !important;
}

.footer a:hover:after {
	width: 100%;
}

/*-------- Responsive --------*/

@media screen and (max-width: 540px) {
	.SITE_CONTAINER {
		max-width: 425px;
	}
}

@media screen and (max-width: 475px) {
	.SITE_CONTAINER {
		max-width: 365px;
	}

	footer {
		font-size: 12px;
	}
}
