/*-- font-family: 'Dosis', sans-serif;
font-family: 'Open Sans', sans-serif; --*/

:root {
	--normalBlue: rgb(53, 53, 241);
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	margin: auto;
}

.SITE_CONTAINER {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/*-------- Navigation --------*/

.navbar-brand {
	font-family: 'Dosis', sans-serif;
	font-size: 40px;
	font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
	display: inline-block;
	text-decoration: none;
	position: relative;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding: 15px;
}

.navbar-light .navbar-nav .nav-link:after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: var(--normalBlue) !important;
	width: 0;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
		all;
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: var(--normalBlue) !important;
}

.navbar-light .navbar-nav .nav-link:hover:after {
	width: 100%;
}

.nav {
	padding: 20px 0px 20px 0px;
}

/*-------- Profile --------*/

.profile_container {
	max-width: 620px;
	padding-top: 60px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.profile_container h1 {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	font-size: 80px;
	padding-bottom: 30px;
}

.profile_container p {
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: bold;
}

/*-------- Projects --------*/

.project_title {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 40px;
}

.project_container img {
	max-width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transition: .3s ease;
}

.project_container img:hover {
	transform: scale(1.08, 1.08);
	transition: .3s ease;
}

/*-------- Footer --------*/

footer {
	font-family: 'Open Sans', sans-serif;
	margin-top: 80px;
	margin-bottom: 50px;
	text-align: center;
	font-weight: bold;
}

.footer a {
	color: rgba(0, 0, 0, .5);
	display: inline-block;
	text-decoration: none;
	position: relative;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding: 10px 0px 10px 0px;
}

.footer a:after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: var(--normalBlue) !important;
	width: 0;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
		all;
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.footer a:hover {
	color: var(--normalBlue) !important;
}

.footer a:hover:after {
	width: 100%;
}

/*-------- Responsive --------*/

@media screen and (max-width: 1000px) {
	.SITE_CONTAINER {
		max-width: 740px;
	}

	.project_container img {
		max-width: 740px;
	}
}

@media screen and (max-width: 740px) {
	.SITE_CONTAINER {
		max-width: 600px;
	}

	.project_container img {
		max-width: 600px;
	}
}

@media screen and (max-width: 600px) {
	.SITE_CONTAINER {
		max-width: 475px;
	}

	.project_container img {
		max-width: 475px;
	}
}

@media screen and (max-width: 475px) {
	.SITE_CONTAINER {
		max-width: 375px;
	}

	.project_container img {
		max-width: 375px;
	}

	.profile_container h1 {
		font-size: 60px;
	}

	.profile_container p {
		font-size: 22px;
	}

	.project_title {
		font-size: 26px;
	}
}
